<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> @ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/Content/Plugins/iziToast-master/dist/css/iziToast.css">

    <!-- Primary Inspinia style -->
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/css")
</head>
<body class="top-navigation skin-2">


    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" class="@Html.PageClass()">

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar2")

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
        <!-- End page wrapper-->

    </div>

    <input type="hidden" id="SuccessMsg" value="@Notification.Success" />
    <input type="hidden" id="ErrorMsg" value="@Notification.Error" />

    @{
        Notification.Success = "";
        Notification.Error = "";
    }


    <!-- End wrapper-->
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")

    <script src="~/Content/Plugins/iziToast-master/dist/js/iziToast.js"></script> @Scripts.Render("~/plugins/toastr")

    <script type="text/javascript">
        function SuccessMsg(message) {
            iziToast.success({
                title: 'OK',
                message: message
            });
        }

        function ErrorMsg(message) {
            iziToast.error({
                title: 'Error',
                message: message
            });
        }

        $(document).ready(function () {

            var successMsg = $('#SuccessMsg').val();
            var errorMsg = $('#ErrorMsg').val();

            if (successMsg !== "") {
                SuccessMsg(successMsg);
            }
            if (errorMsg !== "") {
                ErrorMsg(errorMsg);
            }

        });

    </script>

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
